<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
  <footer data-thfragment="footer" class="bg-primary-subtle py-4 mt-auto">
    <div class="container d-flex flex-column flex-lg-row gap-3 justify-content-between">
      <div>
        <h6 class="mb-2">Redes Sociales</h6>
        <div class="d-flex gap-3">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-whatsapp"></i>
          <i class="bi bi-twitter-x"></i>
        </div>
      </div>
      <div>
        <h6 class="mb-2">Políticas</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="link-dark">Política de privacidad</a></li>
          <li><a href="#" class="link-dark">Términos y condiciones</a></li>
        </ul>
      </div>
      <div>
        <h6 class="mb-2">Contacto</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="mailto:contacto@tutienda.com" class="link-dark">contacto@tutienda.com</a></li>
          <li>+51 123 456 789</li>
        </ul>
      </div>
    </div>
    <div class="container text-center small mt-3">© 2025 TuTienda. Todos los derechos</div>
  </footer>
  </body>
</html>
